asgiref
fastapi
uvicorn
pydantic
pydantic-settings
SQLAlchemy
psycopg2-binary
alembic
slowapi
fastapi-mail
jinja2
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
email-validator
python-dotenv
requests
httpx
markdown-it-py
google-cloud-storage