{% extends "base_email.html" %}

{% block header %}
<tr>
    <td class="header">
        <h1>Password Reset Request</h1>
    </td>
</tr>
{% endblock %}

{% block content %}
<tr>
    <td class="content">
        <h2>Hello {{ email }},</h2>
        
        <p>We received a request to reset your password for your {{ company_name }} account.</p>
        
        <p>To reset your password, please click the button below:</p>
        
        <p style="text-align: center; margin: 25px 0;">
            <a href="{{ reset_link }}" class="button">Reset Your Password</a>
        </p>
        
        <p>This password reset link will expire in {{ expiration_time }} for security reasons.</p>
        
        <p>If you didn't request a password reset, please ignore this email. Your account remains secure.</p>
        
        <p>If you have any questions, please contact our support team.</p>
        
        <p>Best regards,<br>The {{ company_name }} Team</p>
    </td>
</tr>
{% endblock %}